@font-face {
    font-family: satoshi;
    src: url(./satoshie-black.otf);
}

body {
    background: url(logo.png);
    background-repeat: no-repeat;
    background-position: center 40%; 
    background-size: auto; 
    background-attachment: fixed; 
    background-color: #353b2e;
    align-items: center;
    justify-items: center;
    height: max-content; 
}


.login {
    background-color: #646f5870;
    backdrop-filter: blur(20px);
    margin: 5rem;
    color: #dad7c9;
    font-family: satoshi;
    padding: 2rem;
    align-items: center;
    width: 30rem;
    border-radius: 2rem;
    box-shadow: #646f58 0px 0px 10px;
}

.inputs {
    justify-items: center;
}

input {
    font-family: satoshi;
    font-size: large;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
    height: 2rem;
    color: #4b3621;
    transition: all 0.2s ease-in-out;
}

input:focus {
    outline: none;
    box-shadow: #dad7c9 0px 0px 6px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    background-color: #dad7c9;
    font-family: satoshi;
    border-style: none;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 50rem;
    transition: all 0.15s ease-in-out;
    margin-top: 3rem;
    color: #4b3621;
}


button:active {
    background-color: #a19f95;
    scale: 98%;
}

button:hover{
    box-shadow: #dad7c9 0px 0px 6px;
}