@font-face {
    font-family: satoshi;
    src: url(Satoshi-Black.otf);
}

body {
    background-color: #c1bd9a;
    justify-items: center;
    justify-content: center;
    overflow-x: unset;
}

.homebar {
    justify-items: center;
    align-items: center;
    border-radius: 1.4rem;
    padding-left: 5rem;
    padding-right: 5rem;
    color: #dad7c2;
    margin: 1rem auto;
    background-color: #646f58;
    width: 80rem;
    height: 4rem;
    font-family: satoshi;
}

.mainCard {
    width: 80vw;
    font-family: satoshi;
    justify-self: center;
    padding: 4rem;
    background-color: #4b3621;
    border-radius: 1rem;
}

.Missions {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow-x: auto;
    gap: 2rem;
}

.mission {
    background: linear-gradient(135deg, #646f58, #646f584f);
    color: #dad7c2;
    border-radius: 1rem;
    padding: 2rem;
    width: 500px;
    min-width: 20rem;
    backdrop-filter: blur(20px);
    height: 24rem;
}

#editButtonMissions {
    width: 100%;
    font-family: satoshi;
    color: #dad7c2;
    fill: #c1bd9a;
    background-color: #646f5886;
    box-shadow: #646f58 0px 0px 10px;
    border: none;
    transition: all 0.1s ease-in-out;
    margin-bottom: 20px;
    border-radius: 5px;
}

#editButtonMissions:active {
    scale: 95%;
}

#missionsTitle {
    color: #dad7c2;
    padding-bottom: 1rem;
}

#missionHead {
    padding: none;
}

.Habits {
    display: flex;
    flex-direction: row;
    color: #dad7c2;
    gap: 2rem;
}

.habit {
    width: 20rem;
    font-size: 18.72px;
    background: linear-gradient(135deg, #646f58, #646f584f);
    border-radius: 1rem;
    padding: 2rem;
}

#habitsTitle {
    color: #dad7c2;
}

.quick {
    display: flex;
    flex-direction:column;
    width: 30rem;
    font-size: 20px;
    color: #dad7c2;
    background: linear-gradient(135deg, #646f58, #646f584f);
}

#quicksTitle {
    color: #dad7c2;
}

.quickButtons button {
    
    flex-direction: column;
    min-width: 10rem;
    font-size: 20px;
    font-family: satoshi;
    background-color: #646f5886;
    border: none;
    box-shadow: #646f58 0px 0px 10px;
    border-radius: 5px;
    color: #dad7c2;
    padding: 0.7rem;
}
